body {
	background-image: url(https://sun4-16.userapi.com/impg/uM0VKuN8Ayr__33Ph2IWtkVykx59upKEZOCNrw/DDvIhveodq0.jpg?size=1280x868&quality=96&sign=94ecf747565d41fc05ca7a20c51ef15f&type=album);
	background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    font-family: century gothic;

}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
	border:2px solid white;
	background-image: url(bg2.jpg);
	border-radius: 80px;
	width: 1100px;
	height: 300px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 

}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none;
	color: white;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 100px;
}

.units {
	font-size: 50px;
}
.countdown-name {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.5%;
	text-shadowï¼š0 0 10px black,0 0 20px black;

}
html, body {
	margin: 0;
	padding: 0;
}
h1 {
	color: white;
	font-family: century gothic;
	font-size: 120px;
	text-shadow: 0 0 50px #75e6ff;
}
p {
	color: #fff;
}
.authors {
	margin-top: 440px;
	text-align: right;
	margin-right: 3%;
	text-shadow: 0 0 5px black;
}
